@using AppFeedBack.ViewModels
@model FeedbackDisplayViewModel

<div class="row">
    <div class="col-md-8">
        <div class="feedback-block">

            <div class="feedback-head-block">
                <div>
                    <span>Автор: @Model.Author</span>
                </div>

                <span>Отправлен: @Html.DisplayFor(t => Model.PostDate)</span>
                <span>В категории: @Model.Category</span>
            </div>

            <div class="feedback-text-block">
                <p class="text-justfy">
                    @Html.DisplayFor(t => Model.Text)
                </p>
            </div>

            <div class="file-block">
                <span>Прикреплено файлов: @Model.Files.Count()</span>
                
            </div>
        </div>

        @Html.ActionLink("Подтвердить удаление", "DeleteConfirmed", "FeedBack", new { id = Model.Id }, null)
    </div>
</div>




